    <div class="col-md-4 column menus">

        <div class="panel-group" id="panel-1">

        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed"  style="color:bule;" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-1">中心介绍</a>
          </div>
          <div id="panel-element-1" class="panel-collapse collapse in">
            <div class="panel-body">
                <a class="link11" style="cursor:pointer;">中心概况
                  <!-- <button type="button" class="btn btn-default btn-sm"> -->
                <!--     <a><span class="glyphicon glyphicon-plus pull-right"></span></a>  -->
              <!--     </button> -->
                </a>   <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
               <a class="link12" style="cursor:pointer;">组织机构
                <!--   <button type="button" class="btn btn-default btn-sm"> -->
                   
               <!--    </button> -->
                </a> <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
                <a class="link13" style="cursor:pointer;">中心风貌
              <!--     <button type="button" class="btn btn-default btn-sm"> -->
              
           <!--        </button> -->
                </a>      <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
          </div>
        </div>
        </div>
    </div>
        <div class="col-md-8 column informations" id="information">
     <ul class="breadcrumb">
        <li class="pull-left active">
           <a class="link0">首页</a>
        </li>
        <li class="pull-left">
          中心概况
        </li>

      </ul>
      <div class="maincontent">
        <div class="lists">
          <a href="#" class="list-group-item"><h4>关于学习贯彻夏宝龙同志在浙江省庆祝中国共产党成立aaaaaaaaaa</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于开展向余延安同志学习活动的通知</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于参加全省大学生“两学一做”知识竞赛的通知</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于校党委召开“三严三实”专题民主生活会的通报</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于举办第十八期预备党员培训班的通知</h4><span class="pull-right badge">2016-10-08</span></a>

        </div>
      </div>

     <br />
      <a class="pull-right "  href="#atop">返回顶部</a>
    </div>