    <div class="col-md-4 column menus">

        <div class="panel-group" id="panel-1">

        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed"  style="color:bule;" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-1">中心介绍</a>
          </div>
          <div id="panel-element-1" class="panel-collapse collapse in">
            <div class="panel-body">
                <a class="link11" style="cursor:pointer;">中心概况
                  <!-- <button type="button" class="btn btn-default btn-sm"> -->
                <!--     <a><span class="glyphicon glyphicon-arrow-right pull-right"></span></a>  -->
              <!--     </button> -->
                </a>   <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
               <a class="link12" style="cursor:pointer;">组织机构
                <!--   <button type="button" class="btn btn-default btn-sm"> -->
                   
               <!--    </button> -->
                </a> <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
                <a class="link13" style="cursor:pointer;">中心风貌
              <!--     <button type="button" class="btn btn-default btn-sm"> -->
              
           <!--        </button> -->
                </a>      <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
          </div>
        </div>
        </div>
    </div>
        <div class="col-md-8 column informations" id="information">
     <ul class="breadcrumb">
        <li class="pull-left active">
           <a class="link0">首页</a>
        </li>
        <li class="pull-left">
          中心机构
        </li>

      </ul>
      <div class="maincontent">
      <h2 class="text-center">Main Page</h2>

      <p class="text-right text-muted">2016-10-08</p>   <br />
      <p >这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</p><br />
            <p >这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</p>


      </div>
 <hr />
     <br />
      <a class="pull-right "  href="#atop">返回顶部</a>
    </div>
    <script>
      $('.informations').load('./components/article.html')
    </script>