    <div class="col-md-4 column menus">

         <div class="panel-group news" id="panel-0">
          <div class="panel panel-default">
            <div class="panel-heading">
               <a class="panel-title collapsed"  style="" data-toggle="collapse" data-parent="#panel-0" href="#panel-element-0">最新动态</a>
               <a href="#"  style="font-size:16px;line-height:32px;text-decoration:underline;" class="btn pull-right">More...</a>
            </div>
            <div id="panel-element-0" class="panel-collapse collapse in">
              <div class="panel-body">
                    <h4 href="#" style="cursor:pointer;">动态1动态1动态1动态1动态1动态1动态1
                    <!-- <button type="button" class="btn btn-default btn-sm"> -->
                       
                <!--     </button> -->
                  </h4><a class="btn pull-right" href="#">details »</a>
              </div>
              <div class="panel-body">
                    <h4 href="#" style="cursor:pointer;">动态2
                    <!-- <button type="button" class="btn btn-default btn-sm"> -->
                <!--     </button> -->
                  </h4><a class="btn pull-right" href="#">details »</a>
              </div>
              <div class="panel-body">
                    <h4 href="#" style="cursor:pointer;">动态3
                    <!-- <button type="button" class="btn btn-default btn-sm"> -->
                <!--     </button> -->
                  </h4> <a class="btn pull-right" href="#">details »</a>
              </div>
              <div class="panel-body">
                    <h4 href="#" style="cursor:pointer;">动态4
                    <!-- <button type="button" class="btn btn-default btn-sm"> -->
                <!--     </button> -->
                  </h4> <a class="btn pull-right" href="#">details »</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-8 column informations" id="information">
     <ul class="breadcrumb">
        <li class="pull-left active">
           <a class="link0">首页</a>
        </li>
<!--         <li class="pull-left">
          <a href="#">中心概况</a>
        </li>
        <li class="active">
               推送
        </li> -->

      </ul>
      <div class="maincontent">
        <div class="lists">
          <a href="#" class="list-group-item"><h4>关于学习贯彻夏宝龙同志在浙江省庆祝中国共产党成立aaaaaaaaaa</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于开展向余延安同志学习活动的通知</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于参加全省大学生“两学一做”知识竞赛的通知</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于校党委召开“三严三实”专题民主生活会的通报</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于举办第十八期预备党员培训班的通知</h4><span class="pull-right badge">2016-10-08</span></a>

        </div>
      </div>

     <br />
      <a class="pull-right "  href="#atop">返回顶部</a>
    </div>