    <div class="col-md-4 column menus">

        <div class="panel-group" id="panel-1">

       <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-2"> 科学研究</a>
          </div>
          <div id="panel-element-2" class="panel-collapse collapse in ">
            <div class="panel-body">
                <a class="link21" style="cursor:pointer;">研究方向
                  <!-- <button type="button" class="btn btn-default btn-sm"> -->
                   
              <!--     </button> -->
                </a> <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
               <a class="link22" style="cursor:pointer;">研究课题
                <!--   <button type="button" class="btn btn-default btn-sm"> -->
                    
               <!--    </button> -->
                </a><a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
                <a class="link23" style="cursor:pointer;">研究成果
              <!--     <button type="button" class="btn btn-default btn-sm"> -->
                    
           <!--        </button> -->
                </a> <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
            <div class="panel-body">
                <a class="link24" style="cursor:pointer;">研究平台
              <!--     <button type="button" class="btn btn-default btn-sm"> -->
                    
           <!--        </button> -->
                </a> <a><span class="glyphicon glyphicon-plus pull-right"></span></a> 
            </div>
          </div>
        </div>
    </div>
  </div>
        <div class="col-md-8 column informations" id="information">
     <ul class="breadcrumb">
        <li class="pull-left active">
           <a class="link0">首页</a>
        </li>
        <li class="pull-left">
          研究课题
        </li>

      </ul>
      <div class="maincontent">
      <h1>Main Page<small>我是副标题1 h1</small></h1>
      <p class="lead">这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</p>
      <small>本行内容是在标签内</small><br>
      <strong>本行内容是在标签内</strong><br>
      <em>本行内容是在标签内，并呈现为斜体</em><br>
      <p class="text-left">向左对齐文本</p>
      <p class="text-center">居中对齐文本</p>
      <p class="text-right">向右对齐文本</p>
      <p class="text-muted">本行内容是减弱的</p>
      <p class="text-primary">本行内容带有一个 primary class</p>
      <p class="text-success">本行内容带有一个 success class</p>
      <p class="text-info">本行内容带有一个 info class</p>
      <p class="text-warning">本行内容带有一个 warning class</p>
      <p class="text-danger">本行内容带有一个 danger class</p>
      <blockquote class="pull-right">
        这是一个向右对齐的引用。
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
      <hr />
      <h2>Main Page</h2>
      <h4>有序列表</h4>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ol>
        <h4>无序列表</h4>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
        <h4>未定义样式列表</h4>
        <ul class="list-unstyled">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
        <h4>内联列表</h4>
        <ul class="list-inline">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
        <h4>定义列表</h4>
        <dl>
          <dt>Description 1</dt>
          <dd>Item 1</dd>
          <dt>Description 2</dt>
          <dd>Item 2</dd>
        </dl>
        <h4>水平的定义列表</h4>
        <dl class="dl-horizontal">
          <dt>Description 1</dt>
          <dd>Item 1</dd>
          <dt>Description 2</dt>
          <dd>Item 2</dd>
        </dl>
      <hr />
      <h3>Main Page</h3>
            <address>
                <strong>Some Company, Inc.</strong><br>
                007 street<br>
                Some City, State XXXXX<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>
              <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">mailto@somedomain.com</a>
              </address>
      <hr />
      <h4>Main Page</h4>
      <hr />
      <h5>Main Page</h5>
      <hr />
      </div>

     <br />
      <a class="pull-right "  href="#atop">返回顶部</a>
    </div>