      <style>
      .article p{
      	font-size: 16px;
      	line-height: 28px;
      	letter-spacing: 2px;
      	text-indent: 35px;
      }
      .datetime{
      	width: 95%;
      }
      h2{
      	margin-bottom: 5px;
      }
      </style>
      <hr />
      <h2 class="text-center">Main Page</h2>
      <p class="text-right text-muted datetime">2016-10-08</p><br />
      <div class="article">
      <p >这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</p><br />
            <p >这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</p>
       </div>
       <hr />
