<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>job2</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <script charset="utf-8" src="kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="kindeditor/lang/zh_CN.js"></script>
  
  </head>
  <body>
<style>

</style>
<div class="container">
  <div class="row">
    <div class="col-md-12 column">
   <!--    <img alt="140x140" src="v3/default3.jpg" /> -->
    <div class="page-header" id="atop">
      <div class="login">
        <ul class="breadcrumb">
          <li class="pull-left">
             <a href="/login">登录</a>
          </li>
          <li class="pull-left">
            <a href="#">注册</a>
          </li>

        </ul>
           <h1>可靠性与适航技术研究中心</h1>
      </div>
    </div>

      <ul class="nav nav-tabs navbar-inverse" style="color:white">
           <li  class="dropdown pull-left">
             <a data-toggle="dropdown" class="dropdown-toggle active link0">首页</a>
           </li>
           <li class="dropdown pull-left">
              <a  data-toggle="dropdown" class="dropdown-toggle link1">中心介绍</a>
              <ul class="dropdown-menu">
                 <li>
                   <a class="link11">中心概况</a>
                 </li>
                 <li class="divider"></li>
                 <li>
                   <a class="link12">组织机构</a>
                 </li>
                 <li class="divider"></li>
                 <li>
                   <a class="link13">中心问询</a>
                 </li>
              </ul>
           </li>
           <li class="dropdown pull-left">
              <a  data-toggle="dropdown" class="dropdown-toggle link2">科学研究</a>
              <ul class="dropdown-menu">
                <li>
                   <a  class="link21">研究方向</a>
                </li>
                <li class="divider"></li>            
                <li>
                   <a  class="link22">研究课题</a>
                </li>
                <li class="divider"></li>            
                <li>
                   <a  class="link23">研究成果</a>
                </li>
                <li class="divider"></li>            
                <li>
                   <a  class="link24">研究平台</a>
                </li>
              </ul>
           </li>
        <li class="dropdown pull-left">
              <a  data-toggle="dropdown" class="dropdown-toggle link3">科研队伍</a>
              <ul class="dropdown-menu">
                <li>
                   <a class="link31">课题组</a>
                </li>
                <li class="divider"></li>
                <li>
                   <a  class="link32">人员名单</a>
                </li>
              </ul>
        </li>
        <li class="dropdown pull-left">
              <a data-toggle="dropdown" class="dropdown-toggle link4">人才培养</a>
              <ul class="dropdown-menu">
                  <li>
                   <a  class="link41">博士后培养</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                     <a  class="link42">博士生交流</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                     <a  class="link43">硕士生培养</a>
                  </li>
              </ul>
        </li>
         <li class="dropdown pull-left">
              <a data-toggle="dropdown" class="dropdown-toggle link5">开放交流</a>
              <ul class="dropdown-menu">
                  <li>
                     <a class="link51">讲座报名</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                     <a  class="link52">学术会议</a>
                  </li>
                  
              </ul>
        </li>
        <li  class=" pull-left">
             <a href="/posts" onclick="window.location='/posts'" data-toggle="dropdown" class="dropdown-toggle active">上传文章</a>
        </li>
<!--         <li class="dropdown pull-left">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉</a>
              <ul class="dropdown-menu">
                  <li>
                     <a href="#">操作</a>
                  </li>
                  <li>
                     <a href="#">设置栏目</a>
                  </li>
                  <li>
                     <a href="#">更多设置</a>
                  </li>
                  <li class="divider">
                  </li>
              </ul>
        </li> -->
      </ul>
<!--       <div class="btn-group">
         <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
             <a href="#">操作</a>
          </li>
          <li class="disabled">
             <a href="#">另一操作</a>
          </li>
          <li class="divider">
          </li>
          <li>
             <a href="#">其它</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="row content">

  </div>
  <div class="row footer">
    <div class="components">
      <div class="links">
        <div class="topic">友情链接</div>
        <ul>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
           <li><a  class="pull-right" href="/">more...</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 column">
   <!--    <img alt="140x140" src="v3/default3.jpg" /> -->
    </div>
  </div>
</div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script src="scripts/main.js"></script>
        <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

      var editor;
      KindEditor.ready(function(K){
        editor = K.create('textarea',{
          allowImageUpload : false,
          items:[
              'fontname','fontsize','|','forecolor','hilitecolor','bold','italic','underline','removeformate','|','justifyleft','justifycenter','justifyright',
                'insertorderedlist','insertunorderedlist','|','emoticons','image','link'
              ]
        });
      });
      $(".content").load("./components/mainpage.html");
    </script>
  </body>
</html>
