    <div class="col-md-8 column informations" id="information">
     <ul class="breadcrumb">
        <li class="pull-left active">
           <a class="link0">首页</a>
        </li>
<!--         <li class="pull-left">
          <a href="#">中心概况</a>
        </li>
        <li class="active">
               推送
        </li> -->

      </ul>
      <div class="maincontent">
        <div class="lists">
          <a href="#" class="list-group-item"><h4>关于学习贯彻夏宝龙同志在浙江省庆祝中国共产党成立aaaaaaaaaa</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于开展向余延安同志学习活动的通知</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于参加全省大学生“两学一做”知识竞赛的通知</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于校党委召开“三严三实”专题民主生活会的通报</h4><span class="pull-right badge">2016-10-08</span></a>
          <a href="#" class="list-group-item"><h4>关于举办第十八期预备党员培训班的通知</h4><span class="pull-right badge">2016-10-08</span></a>

        </div>
      </div>

     <br />
      <a class="pull-right "  href="#atop">返回顶部</a>
    </div>