<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>user</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="styles/user.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <script charset="utf-8" src="kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="kindeditor/lang/zh_CN.js"></script>
  
  </head>
  <body>
<style>

</style>
<div class="container">
  <div class="row">
    <div class="col-md-12 column">
   <!--    <img alt="140x140" src="v3/default3.jpg" /> -->
    <div class="page-header" id="atop">
      <div class="login">
        <ul class="breadcrumb">
        </ul>
           <h1>Person Main Page</h1>
      </div>
    </div>

      <ul class="nav nav-tabs navbar-inverse" style="color:white">
           <li  class="dropdown pull-left">
             <a data-toggle="dropdown" class="dropdown-toggle active link0">个人首页</a>
           </li>
           <li class="dropdown pull-left">
              <a  data-toggle="dropdown" class="dropdown-toggle link1">项目课题</a>
           </li>
           <li class="dropdown pull-left">
              <a  data-toggle="dropdown" class="dropdown-toggle link2">主要教学</a>
           </li>
        <li class="dropdown pull-left">
              <a  data-toggle="dropdown" class="dropdown-toggle link3">指导学生</a>
        </li>
        <li class="dropdown pull-left">
              <a data-toggle="dropdown" class="dropdown-toggle link4">学术奖励</a>
        </li>
         <li class="dropdown pull-left">
              <a data-toggle="dropdown" class="dropdown-toggle link5">课题组</a>
        </li>
        <li  class=" pull-left">
             <a data-toggle="dropdown" class="dropdown-toggle active">论文著作</a>
        </li>
<!--         <li class="dropdown pull-left">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉</a>
              <ul class="dropdown-menu">
                  <li>
                     <a href="#">操作</a>
                  </li>
                  <li>
                     <a href="#">设置栏目</a>
                  </li>
                  <li>
                     <a href="#">更多设置</a>
                  </li>
                  <li class="divider">
                  </li>
              </ul>
        </li> -->
      </ul>
<!--       <div class="btn-group">
         <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
             <a href="#">操作</a>
          </li>
          <li class="disabled">
             <a href="#">另一操作</a>
          </li>
          <li class="divider">
          </li>
          <li>
             <a href="#">其它</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="row content">
    <div class="col-md-4 column menus">
        <img src="images/dr.jpg" class="img-thumbnail headpic">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
             MR.xxx
            </h3>
          </div>
          <div class="panel-body">
            <p class="introduce"><small>这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</small></p>

          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
             联系方式
            </h3>
          </div>
          <div class="panel-body">
            <address>
              <strong>Some Company, Inc.</strong><br>
              007 street<br>
              Some City, State XXXXX<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address>
              <strong>Full Name</strong><br>
              <a href="mailto:#">mailto@somedomain.com</a>
            </address>
          </div>
        </div>
    </div>
    <div class="col-md-8 column informations" id="information">
     <ul class="breadcrumb">
        <li class="pull-left active">
         个人首页
        </li>
<!--         <li class="pull-left">
          <a href="#">中心概况</a>
        </li>
        <li class="active">
               推送
        </li> -->

      </ul>
      <div class="maincontent">
      <h1>Main Page<small>我是副标题1 h1</small></h1>
      <p class="lead">这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。</p>
      <small>本行内容是在标签内</small><br>
      <strong>本行内容是在标签内</strong><br>
      <em>本行内容是在标签内，并呈现为斜体</em><br>
      <p class="text-left">向左对齐文本</p>
      <p class="text-center">居中对齐文本</p>
      <p class="text-right">向右对齐文本</p>
      <p class="text-muted">本行内容是减弱的</p>
      <p class="text-primary">本行内容带有一个 primary class</p>
      <p class="text-success">本行内容带有一个 success class</p>
      <p class="text-info">本行内容带有一个 info class</p>
      <p class="text-warning">本行内容带有一个 warning class</p>
      <p class="text-danger">本行内容带有一个 danger class</p>
      </div>

     <br />
      <a class="pull-right "  href="#atop">返回顶部</a>
    </div>
  </div>
  <div class="row footer">
    <div class="components">
      <div class="links">
        <div class="topic">友情链接</div>
        <ul>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
          <li><a href="/">senylin:https://github.com/senylin/geeklub</a></li>
           <li><a  class="pull-right" href="/">more...</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 column">
   <!--    <img alt="140x140" src="v3/default3.jpg" /> -->
    </div>
  </div>
</div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script src="scripts/main.js"></script>
        <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

      var editor;
      KindEditor.ready(function(K){
        editor = K.create('textarea',{
          allowImageUpload : false,
          items:[
              'fontname','fontsize','|','forecolor','hilitecolor','bold','italic','underline','removeformate','|','justifyleft','justifycenter','justifyright',
                'insertorderedlist','insertunorderedlist','|','emoticons','image','link'
              ]
        });
      });
    </script>
  </body>
</html>
