$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 ,li{ font-family: Microsoft YaHei,'KaiTi','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;main
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
    background: lightgrey;
}
a{
  cursor:pointer;
}
  .container {
    width: 960px !important;
    border:0px solid #ddd;
    border-radius: 2px;
     /*   background: url('../images/back.png');*/
  }
  .row{
    padding-left: 0px;
    padding-right: 0px;

  }
  .column{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .page-header{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top:0px;
    margin-bottom: 0px; 
    width: 100%;
    height:120px;
    border-bottom: 0px solid grey;
   /* background: white;*/
  }
.page-header .login{
   width: 100%;
   height: 30px;
   margin-bottom: 10px;
   z-index:10;
}
.page-header .login ul{
  width: 100%;
  height: 100%;
  margin-left: 0px;
    margin-right: 5px;
    padding-left:90%;
    border-radius: 2px;
        background: lightgrey;
}

  .page-header h1{
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Microsoft YaHei' !important;
    text-indent: 20px;
  }
  .navbar-inverse{
    border-radius: 1px;
    width: 100%;
    height:45px;
         border-radius: 2px;
         background: url('../images/back.png');
         border: 0px;
  }
  .navbar-inverse li{
    width:137.1px;
    height: 45px;
    border-radius: 2px;
  }
  .navbar-inverse a{

    margin-top:0px;
  color:darkgray;
  width: 100%;
  height:99%;
  text-align: center;
  font-size: 16px;
  font-family: 'KAITI';
  line-height: 30px;
  font-weight: 600;
      border-radius: 2px 2px 1px 1px !important;
}


  .navbar-inverse .open a{
   color:black!important;
 }
 .navbar-inverse .dropdown-menu{
  width: 100%;
  border:1px solid lightgray;
 
 border-radius: 1px;
 }
  .navbar-inverse .dropdown-menu li a{
   padding-top:0px;
   padding-bottom:0px;
   line-height: 40px;
 }
 .content{
  margin-top: 0px;
  background: white;
 }
 .menus{
  margin-top: 10px;
    background: white;

 }
 .menus .introduce{

 }
  .menus  .headpic{
  margin :10px 20px 20px 0px;
  width: 100%;
  height:250px;
 }
 .menus .panel-heading a{
  font-size: 22px;
 }
 .menus .panel-body{
    padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;      
 }
  .menus .panel-body a{
  font-size: 16px;
 }
  .menus .panel-body h4{
  line-height: 20px;
 /* text-indent: 2px;*/
  letter-spacing: 1px;
  font-weight: normal!important;
 }
 .news{
    margin-bottom: 5px!important;
 }
 .news h4{
  padding-left: 2px;
  height: auto;
  overflow: hidden;
  width: 220px;
  font-size:16px;
 }
 .news p{
  font-size: 14px;
 }
 .news a{
  padding-left: 2px;
  padding-top: 2px;
 }
 .informations{
  padding-top: 20px;
  padding-left: 20px!important;
  padding-right: 10px!important;
  border-radius: 3px;
    background: white;
 }
 .informations .breadcrumb{
  border-radius: 2px;
  padding-left: 0px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgray;
  height: 35px;
 }
  .informations .breadcrumb li{
    margin-left:10px;
}
.informations .maincontent{
  padding-left: 2px;
  padding-right: 2px;
}
.informations .posts{
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 2px;
  border:1px solid lightgray ;
}
.informations .posts *{
 
}
.informations .posts .form-control{
  position: relative;
  width: 200px;
  border-radius: 5px;
  padding-right: 0px;
  margin-right: 0px!important;
  margin-left: 10px!important;
  left: 35px;
  top:-35px;  
}
.informations .posts .form-control option{
  width: 200px;
  height:30px;
  border-radius: 5px;
}

/*.informations .posts .posttime{
  width: 150px;
}*/
.informations .posts input{
    position: relative;
}
.informations .posts label{
    position: relative;
  margin-top:10px;
   margin-bottom:10px;
  margin-left: 0px;
  font-size: 18px;
  font-family: 'KaiTi';
  font-weight: 300;
}
.informations .posts textarea{
  position: relative;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}
.form_datetime{
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 14px;
  text-indent:10px;
  color:gray;
}
.btn-group{
  padding-left: 0px;
}
.postsub{
  margin-top: 20px;
  width: 100px;
}
  .ban{
   pointer-events:none;
 }
.links{
    position: fixed;
    width: 300px;
    height: auto;
    top:100%;
    left:50%;
    margin-left: 180px;
    margin-top:-50px;
    border-radius: 9px; 
    background: white;
      overflow:hidden; 
      border: 2px solid #333 ;
 }
 .links .topic{
   position: relative;
   width: 100%;
   height: 50px;
   text-align: center;
/*   text-indent: 20px;*/
   font-size: 26px;
   line-height: 50px;
   color:white;
   font-weight: 900;
   font-family: 'KaiTi';
   letter-spacing: 10px;
   border: 0px solid grey;
   border-radius:2px;
   background: url('../images/back.jpg');
 }
 .links .topic:hover{
  box-shadow: 0px 0px 20px #333;
  cursor: pointer;
 }
 .links ul{
  width: 100%;
  padding-left: 0px;
  margin-top: 5px;

 }
 .links ul li{
  list-style: none;
  border-bottom: 2px solid  #333;
  border-radius: 5px;
  float: left;
  width: 100%;
  padding-left: 10%;
 padding-right: 10%;
 /* margin-top: 10px;*/
  height:50px;
  list-style-type:decimal;
  font-family: 'kaiti';
    font-size:18px;
    overflow:hidden; 
    text-overflow:ellipsis;
    line-height: 50px;
 }
 .links ul li a{
  color:#333;
  font-weight: bold;
 }
/* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }


